.service{
    display: flex;
    flex-direction: column;
    width: 70%;
    height:70%;
    max-height:15rem;
    max-width: 15rem;
    border-radius: 1rem;
    border: .1rem solid var(--text-light-color);
    overflow: hidden;
    padding:1rem;
    margin:1rem;
    transition: .4s ease;
}
.service:hover{
    border-color:var(--text-color);
    transform: scale(1.02);
}
.service:hover span{
    color:var(--text-color);
}
.service h2{
    font-size: var(--font-small);
}
.service img{
    width:5rem;
    height:5rem;
}
.service p{
    font-size:var(--font-tiny);
}

@media(max-width: 1000px){
    .service{
        margin: 0;
        padding: 1.2rem;
    }
    .service h2{
        font-size: var(--font-tiny);
    }
    .service p{
        font-size:var(--font-small-mobile);
    }

}