*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}
html,body{
    width:100%;
    background-color: var(--background-color);
    color:var(--text-color);
    overflow-x:hidden;
}
:root{
    --background-color:#1E2233;
    --button-color:#FB1842;
    --button-color-hover:#0f111a;
    --text-color:#ffff;
    --text-highlight-color:#FB1842;
    --text-light-color:#fd4769;
    --background-image: url('../assets/images/background-600.jpg');

    --font-tiny:.9rem;
    --font-small:1.09rem;
    --font-medium:1.7rem;
    --font-larger:2.5rem;
}