#home{
    background: linear-gradient(#1d2031,#1d2031c4), var(--background-image);
    display: flex;
    align-items: center;
    justify-content:center;
}
.section{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.section-wrp{
    width:80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.section-wrp p{
    font-size: 1.15rem;
}
.section-wrp div{
    margin-bottom: 1rem;
}
.section-wrp h2{
    font-size: 2.7rem;
}
.section-wrp .container{
    width: 80%;
    padding:1rem;
}
.photo-container{
    justify-content: center;
    align-items:center;
}
.photo-container img{
    width:12rem;
    height:12rem;
    border-radius: 100%;
}
.photo-container h2{
    font-size: 2.5rem;
}
.photo-container h3{
    font-size: 1.7rem;
    margin-top:-1rem;
}
span{
    color:var(--text-light-color);
}
.skills{
    width:80%;
    align-self: flex-start;
    padding:1rem;
    display: flex;
   flex-direction: row;
   border: .1rem solid var(--text-light-color);
   border-radius: .5rem;
}
.skill{
    margin:.5rem;
}
.skill .progress{
    display: flex;
    width:10rem;
    height:1.2rem;
    border-radius: 1rem;
   border: .1rem solid var(--text-light-color);
   overflow: hidden;
}
.skill .progress .progress-bar{
    height:1.2rem;
    background-color: var(--text-light-color);
}