#home{
    background: linear-gradient(#1d2031,#1d2031c4), var(--background-image);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:center;
}
.section{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
}
.section-wrp{
    width:80vw;
    height:90%;
    display: flex;
    flex-direction: column;
}
.section-wrp p{
    font-size: var(--font-small);
}
.section-wrp div{
    margin-bottom: 1rem;
}
.section-wrp h2{
    font-size: var(--font-larger);
}
.section-wrp .container{
    min-width: 80%;
    padding:1rem;
}
.text{
    width:50%;
}
.photo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.photo-container img{
    width:12rem;
    height:12rem;
    border-radius: 100%;
    align-self: center;
}
.photo-container h2{
    font-size:var(--font-larger);
}
.photo-container h3{
    font-size: var(--font-medium);
    margin-top:-1rem;
}
span{
    color:var(--text-light-color);
}
.container-wrp{
    width:90%;
    align-self: flex-start;
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   overflow:hidden;
}
.skills{
    border: .1rem solid var(--text-light-color);
    border-radius: .5rem;
}
.container{
    display:flex;
    flex-direction: column;
}
.box-wrp{
    width:100%;
    display: flex;
    margin-top:2rem;
}

.box-wrp .img-wrp a{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrp a img{
    height:100%;
}
.box-wrp .img-wrp:hover{
    transform: scale(1.09);
}

.box-wrp .text-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}
.text-wrp .text-area{
    max-width:60%;
    margin-top:4rem;
}
.text-wrp p{
    font-size: var(--font-small);
}
.text-wrp h2{
    font-size: var(--font-medium);
}
.right{
    flex-direction: row-reverse;
}
.contact{
    width:50%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--button-color);
    padding:1rem;
}
.contact a:hover{
    transform: scale(1.15);
}