.header{
    width:100%;
    height:4rem;
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--text-color);
    z-index: 999;
    background: var(--background-color);
}
.header.not-transparent{
    background: var(--background-color);
}
.logo{
    font-weight: 500;
    font-size: 1.3rem;
}
.logo span{
    color:var(--text-highlight-color);
}